header{
    position: relative;
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(85 169 255);
    color: white;
}

#titolo{
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 10px;
}

#the{
    font-size: 15px;
    margin-left: 15px;
}

#page-description{
    font-size: 50px;
}

#page-foundation{
    color: grey;
    margin-bottom: 10px;
}

#author{
    color: rgb(25, 184, 237);
}

#photos-description{
    font-size: 12px;
}

.important-text{
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

#table-head{
    background-color: rgb(25, 184, 237);
    color: white;
    text-align: left;
}

.small-column{
    width: 25%;
}

.odd-row{
    background-color: rgb(164, 223, 243);;
}

#other-interest{
    color: grey;
}

.img-description{
    height: 200px;
    width: 200px;
    color: white;
    margin-top: 10px;
}

#back-1{
    background-image: url(../img/graph.jpg);
}

#back-2{
    background-image: url(../img/monitor.jpg);
}