#author{
    color: rgb(25, 184, 237);
}

#photos-description{
    font-size: 12px;
}

.important-text{
    background-color: yellow;
}

#table-head{
    background-color: rgb(25, 184, 237);
    color: white;
}

.odd-row{
    background-color: rgb(164, 223, 243);;
}

#other-interest{
    color: grey;
}

.img-description{
    height: 200px;
    width: 200px;
    color: white;
}

#back-1{
    background-image: url(../img/graph.jpg);
}

#back-2{
    background-image: url(../img/monitor.jpg);
}