#author{
    color: rgb(25, 184, 237);
}

#photos-description{
    font-size: 12px;
}

.important-text{
    background-color: yellow;
}

#table-head{
    background-color: rgb(25, 184, 237);
    color: white;
}

.odd-row{
    background-color: rgb(164, 223, 243);;
}